# ---------- Elastic Search ----------
ELASTIC_SEARCH__DSN=http://elastic-data:9200

# ---------- Postgres ----------
POSTGRES__DSN=postgresql://json:json@postgres:5432/jsonstorage

# ---------- RabbitMQ ----------
RABBIT_MQ__DSN=amqp://guest:guest@rabbitmq:5672/

#----------- environment ----------
ENVIRONMENT=local